{% extends "layout.html" %}
{% load static %}

{% block titulo %}
Listado de Usuarios
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/datatable/dataTables.bootstrap.min.css' %}">
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}


{% if perfiles %}

<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Listado de Usuarios</strong>
    </div>
    <div class="card-body">
      <table id="bootstrap-data-table" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Cédula</th>
            <th>Tipo de usuario</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for perfil in perfiles %}
            <tr>
              <td>{{ perfil.usuario.first_name }}</td>
              <td>{{ perfil.usuario.last_name }}</td>
              <td>{{ perfil.cedula_identidad }}</td>
              <td>
                {%if perfil.tipo_usuario == 'estudiante' %}
                  {{ perfil.tipo_usuario }}
                {% endif %}
                {%if perfil.tipo_usuario == 'personal' %}
                  {{ perfil.tipo_usuario }}
                {% endif %}
                {%if perfil.tipo_usuario == 'visitante' %}
                  {{ perfil.tipo_usuario }}
                {% endif %}
              </td>
              <td>
                <a href="{% url 'account:perfil_detail' slug=perfil.slug pk=perfil.pk %}" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Ver detalles"><i class="fa fa-search"></i></a>
                {%if perfil.tipo_usuario == 'estudiante' %}
                  <a href="{% url 'account:editar_estudiante' pk=perfil.estudiante_perfil.pk %}" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
                {% endif %}
                {%if perfil.tipo_usuario == 'personal' %}
                  <a href="{% url 'account:editar_personal' pk=perfil.personal_perfil.pk %}" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
                {% endif %}
                {%if perfil.tipo_usuario == 'visitante' %}
                  <a href="{% url 'account:editar_visitante' pk=perfil.visitante_perfil.pk %}" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
                {% endif %}
                <a href="{% url 'account:eliminar_perfil' pk=perfil.pk %}" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash-o"></i></a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% else %}
<h3>No existen usuarios registrados</h3>
{% endif %}

{% endblock %}

{% block js %}

<script src="{% static 'assets/js/dist_lib/data-table/datatables.min.js' %}"></script>

<script src="{% static 'assets/js/dist_lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/init/datatables-init.js' %}"></script>

{% endblock %}
