{% extends "layout.html" %}
{% load static %}

{% block titulo %}
Login
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

<div class="col-xs-12 offset-sm-3 col-sm-6">
  <div class="card">
    <div class="card-header">
      <strong>Iniciar sección</strong>
    </div>
    <div class="card-body card-block">

      <form method="POST" action="">
        {% csrf_token %}

        {% if form.errors %}
        <div class="alert alert-danger">
          Tu Usuario y/o Contrasea no coinciden.
        </div>
        {% endif%}

        {{ form.as_p}}

        <button class="btn btn-primary btn-block mt-5" type="submit">Ingresar</button>
        <a href="#"><small> Regresar al home </small></a>

      </form>
    </div>
  </div>
</div>

{% endblock %}
