{% extends "layout.html" %}
{% load static %}

{% block titulo %}
Nueva Editorial
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}

<div class="col-xs-12 offset-sm-3 col-sm-6">
  <div class="card">
    <div class="card-header">
      <strong>Formulario de {{ title }}</strong>
    </div>
    <div class="card-body card-block">

      <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="form-group">
          <label for="id_titulo" class="form-control-label"> {{ form.editorial.label }} </label>
          <div class="input-group">
            {{ form.editorial }}
          </div>
        </div>

        <button type="submit" class="btn btn-primary">Guardar</button>
        <button type="reset" class="btn btn-danger">Cancelar</button>

      </form>
    </div>
  </div>
</div>

{% endblock %}

