{% extends "layout.html" %}
{% load static %}

{% block titulo %}
Listado de Editoriales
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/datatable/dataTables.bootstrap.min.css' %}">
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}

{% if editoriales %}

<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Listado de Editoriales</strong>
    </div>
    <div class="card-body">
      <table id="bootstrap-data-table" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>Editorial</th>
            <th>Libros</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for editorial in editoriales %}
          <tr>
            <td>{{ editorial.editorial }}</td>
            <td>
              {% for libro in editorial.libro_editorial.all %}
              <li>{{ libro }}</li>
              {% endfor %}
            </td>
            <td>
              <a href="{% url 'catalog:editar_editorial' editorial.id %}" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Editar"><i class="fa fa-pencil-square-o"></i></a>
              <a href="{% url 'catalog:eliminar_editorial' editorial.id %}" class="btn btn-outline-primary" data-toggle="tooltip" data-placement="top" title="Eliminar"><i class="fa fa-trash-o"></i></a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% else %}
<h3>No existen editoriales registradas</h3>
{% endif %}

{% endblock %}

{% block js %}

<script src="{% static 'assets/js/dist_lib/data-table/datatables.min.js' %}"></script>

<script src="{% static 'assets/js/dist_lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/init/datatables-init.js' %}"></script>

<script>
  function () {
    $('[data-toggle="tooltip"]').tooltip()
  };
</script>
{% endblock %}
