{% extends "layout.html" %}
{% load static %}

{% block titulo %}
Listado de Prestamos
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/datatable/dataTables.bootstrap.min.css' %}">
  <style type="text/css">
  </style>
{% endblock %}

{% block content %}

{% if prestamos %}

<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Estadisticas de Prestamos</strong>
    </div>
    <div class="card-body">
      <table id="bootstrap-data-table" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>bibliotecario</th>
            <th>ejemplar</th>
            <th>lector</th>
            <th>tipo de prestamo</th>
            <th>fecha de prestamo</th>
            <th>fecha de devolucion</th>
            <th>fecha devuelto</th>
          </tr>
        </thead>
        <tbody>
          {% for prestamo in prestamos %}
          <tr>
            <td>{{ prestamo.bibliotecario }}</td>
            <td>{{ prestamo.ejemplar.cota }}</td>
            <td>{{ prestamo.lector }}</td>
            <td>{{ prestamo.tipo_prestamo }}</td>
            <td>{{ prestamo.fecha_prestamo }}</td>
            <td>{{ prestamo.fecha_devolucion }}</td>
            {% if prestamo.fecha_devuelto %}
              <td>{{ prestamo.fecha_devuelto }}</td>
            {% else %}
              <td> Pendiente </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% else %}
<h3>No existen prestamos registrados</h3>
{% endif %}

{% endblock %}

{% block js %}

<script src="{% static 'assets/js/dist_lib/data-table/datatables.min.js' %}"></script>

<script src="{% static 'assets/js/dist_lib/data-table/dataTables.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/buttons.bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/jszip.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/buttons.print.min.js' %}"></script>
<script src="{% static 'assets/js/dist_lib/data-table/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/init/datatables-init.js' %}"></script>

{% endblock %}