{% extends "layout.html" %}
{% load static %}

{% block titulo %}
Detalle Material
{% endblock %}

{% block css %}
  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/datatable/dataTables.bootstrap.min.css' %}">
  <style type="text/css">
    .portada{
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .descripcion div{
      padding-bottom: 10px;
    }
  </style>
{% endblock %}

{% block content %}

<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Detalles de Material</strong>
    </div>
    <div class="card-body row">
      <div class="col-md-4 text-center portada">
        {% if object.imagen %}
          <img src="{{ object.imagen.url }}" alt="" style="width: 75%;">
        {% else %}
          <p>No hay imagen</p>
        {% endif %}        
      </div>
      <div class="col-md-8 descripcion">
        <div> Material: {{ object.material }}</div>
        <div> Categoria: {{ object.categoria }}</div>
      </div>
    </div>
  </div>
</div>


<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <strong class="card-title">Ejemplares:</strong>
    </div>
    <div class="card-body">
      {% if object.ejemplar_material.all %}
      <table id="bootstrap-data-table" class="table table-striped table-bordered">
        <thead>
          <tr>
            <th>codigo</th>
            <th>material</th>
            <th>condicion</th>
            <th>adquirido</th>
            <th>estado</th>
          </tr>
        </thead>
        <tbody>
          {% for material in object.ejemplar_material.all %}
          <tr>
            <td>{{ material.id }}</td>
            <td>{{ material.material }}</td>
            <td>{{ material.condicion }}</td>
            <td>{{ material.adquirido }}</td>
            <td>{{ material.estado }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% else %}
        <h6>No existen ejemplares registrados</h6>
      {% endif %}
    </div>
  </div>
  <a href="{% url 'catalog:crear_ejemplar_material' %}" class="btn btn-primary">Agregar ejemplar</a>
</div>

{% endblock %}