{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="Ela Admin - HTML5 Admin Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/normalize.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/bootstrap.min.css' %}">
  
  <link rel="stylesheet" href="{% static 'dist_lib/font-awesome-4.7.0/css/font-awesome.min.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/pe-icon-7-stroke.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/flag-icon.min.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/chosen/chosen.min.css' %}">

  
  <title>
    {% block titulo %}
    {% endblock %}
  </title>

  <style type="text/css">
    .header-menu{
      margin-top: 5px;
    }
    .right-panel header.header{
      height: 70px;
    }
    .right-panel{
      margin-top: 65px;
    }
    aside.left-panel {
      position: fixed;
      left: 0;
      bottom: 0;
      top: 70px;
    }
    .images{
      height: 55px;
    }
    .logo-escuela{
      height: 100%;
    }
  </style>
  {% block css %}
  {% endblock %}
</head>
<body>
  <!-- Left Panel -->

  <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

      <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="{% url 'catalog:home' %}"><i class="menu-icon fa fa-home"></i>Inicio</a>
          </li>
          <li class="menu-title">Biblioteca</li><!-- /.menu-title -->
          <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-file-text-o"></i>Prestamos</a>
            <ul class="sub-menu children dropdown-menu">
              <li><i class="fa fa-plus"></i><a href="{% url 'loan:crear_prestamo' %}">Prestamo</a></li>
              <li><i class="fa fa-reply"></i><a href="{% url 'loan:devolucion' %}">Devolución</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-book"></i>Libros</a>
            <ul class="sub-menu children dropdown-menu">
              <li><i class="fa fa-pencil"></i><a href="{% url 'catalog:crear_libro' %}">Registrar Libro</a></li>
              <li><i class="fa fa-list-ul"></i><a href="{% url 'catalog:listar_libros' %}">Listado de Libros</a></li>
              <li><i class="fa fa-font"></i><a href="{% url 'catalog:crear_autor' %}">Registrar Autor</a></li>
              <li><i class="fa fa-list-ul"></i><a href="{% url 'catalog:listar_autor' %}">Listado de Autores</a></li>
              <li><i class="fa fa-bookmark"></i><a href="{% url 'catalog:crear_editorial' %}">Registrar Editorial</a></li>
              <li><i class="fa fa-list-ul"></i><a href="{% url 'catalog:listar_editorial' %}">Lista de Editoriales</a></li>
              <li><i class="fa fa-thumb-tack"></i><a href="{% url 'catalog:crear_autor' %}">Registrar Ubicación</a></li>
              <li><i class="fa fa-list-ul"></i><a href="{% url 'catalog:listar_ubicacion' %}">Ubicaciones</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-font"></i>Material</a>
            <ul class="sub-menu children dropdown-menu">
              <li><i class="fa fa-pencil"></i><a href="{% url 'catalog:crear_material' %}">Registrar Material</a></li>
              <li><i class="fa fa-list-ul"></i><a href="{% url 'catalog:listar_material' %}">Listado de Material</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Usuarios</a>
            <ul class="sub-menu children dropdown-menu">
              <li><i class="fa fa-pencil"></i><a href="{% url 'account:listar_perfil' %}">Listado de usuarios</a></li>
              <li><i class="fa fa-list-ul"></i><a href="{% url 'account:crear_estudiante' %}">Registrar Estudiante</a></li>
              <li><i class="fa fa-list-ul"></i><a href="{% url 'account:crear_personal' %}">Registrar Personal</a></li>
              <li><i class="fa fa-list-ul"></i><a href="{% url 'account:crear_visitante' %}">Registrar Visitante</a></li>
              <li><i class="fa fa-list-ul"></i><a href="{% url 'account:crear_bibliotecario' %}">Registrar Bibliotecario</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Estadisticas</a>
            <ul class="sub-menu children dropdown-menu">
              <li><i class="fa fa-list-ul"></i><a href="{% url 'loan:listar_prestamos' %}">Bibliografico</a></li>
              <li><i class="fa fa-list-ul"></i><a href="{% url 'loan:listar_prestamos_material' %}">No Bibliografico</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </aside><!-- /#left-panel -->
  <!-- Left Panel -->


  <!-- Right Panel -->
  <div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
      <div class="top-left">
        <div class="navbar-header">
          <a class="navbar-brand" href="./">
            <div class="images">
              <img src="{% static 'images/mpppe.png' %}" alt="Logo-mpppe" class="logo-mpppe">
              <img src="{% static 'images/logo.png' %}" alt="Logo-escuela" class="logo-escuela">
            </div>
          </a>
          <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
      </div>
      <div class="top-right">
        {% if request.user.is_authenticated %}
        <div class="header-menu">
          <div class="header-left">
            <div class="user-area dropdown float-right">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="user-avatar rounded-circle" src="{% static 'images/perfil.png' %}" alt="User Avatar">
              </a>

              <div class="user-menu dropdown-menu">
                <a class="nav-link" href=""><i class="fa fa-cog"></i>Ultima Conexión</a>
                <a class="nav-link" href="">{{ user.last_login  }}</a>
                <a class="nav-link" href="{% url 'account:logout' %}"><i class="fa fa-power-off"></i>Logout</a>
              </div>
            </div>
          </div>
        </div>
        {% else %}
        <div class="header-menu">
          <div class="header-left">
            <a class="btn btn-outline-primary" href="{% url 'account:login' %}">Ingresar</a>
          </div>
        </div>
        {% endif %}

    </header><!-- /header -->
    <!-- Header-->

    <div class="content">
      <div class="animated fadeIn">
        
        
        <div class="row">

          {% block content %}
          {% endblock %}

        </div>
      </div><!-- .animated -->
    </div><!-- .content -->
    <div class="clearfix"></div>

    <footer class="site-footer">
      <div class="footer-inner bg-white">
        <div class="row">
          <div class="offset-sm-6 col-sm-6 text-right">
            Sistema Bibliotecario, 2020
          </div>
        </div>
      </div>
    </footer>


  </div><!-- /#right-panel -->

  <!-- Right Panel -->

  <!-- Scripts -->
  <script src="{% static 'assets/js/dist_lib/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/dist_lib/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/dist_lib/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/dist_lib/jquery.matchHeight.min.js' %}"></script>
  
  <script src="{% static 'assets/js/main.js' %}"></script>
  {% block js %}
  {% endblock %}

</body>
</html>
