{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="Ela Admin - HTML5 Admin Template">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/normalize.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/bootstrap.min.css' %}">
  
  <link rel="stylesheet" href="{% static 'dist_lib/font-awesome-4.7.0/css/font-awesome.min.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/themify-icons.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/pe-icon-7-stroke.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/flag-icon.min.css' %}">

  <link rel="stylesheet" href="{% static 'assets/css/cs-skin-elastic.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/dist_lib/chosen/chosen.min.css' %}">

  
  <title>
    {% block titulo %}
    {% endblock %}
  </title>

  <style type="text/css">
  </style>
  {% block css %}
  {% endblock %}
</head>
<body>
  <!-- Left Panel -->

  <aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

      <div id="main-menu" class="main-menu collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="{% url 'catalog:home' %}"><i class="menu-icon fa fa-desktop"></i>Inicio</a>
          </li>
          <li class="menu-title">Biblioteca</li><!-- /.menu-title -->
          <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-book"></i>Libros</a>
            <ul class="sub-menu children dropdown-menu">
              <li><i class="fa fa-pencil"></i><a href="{% url 'catalog:crear_libro' %}">Registrar Libro</a></li>
              <li><i class="fa fa-list-ul"></i><a href="{% url 'catalog:listar_libros' %}">Listado de Libros</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-font"></i>Autores</a>
            <ul class="sub-menu children dropdown-menu">
              <li><i class="fa fa-pencil"></i><a href="#">Registrar Autor</a></li>
              <li><i class="fa fa-list-ul"></i><a href="#">Listado de Autores</a></li>
            </ul>
          </li>
          <li class="menu-item-has-children dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-users"></i>Usuarios</a>
            <ul class="sub-menu children dropdown-menu">
              <li><i class="fa fa-pencil"></i><a href="#">Registrar Usuarios</a></li>
              <li><i class="fa fa-list-ul"></i><a href="#">Listado de Usuarios</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </aside><!-- /#left-panel -->
  <!-- Left Panel -->


  <!-- Right Panel -->
  <div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">
      <div class="top-left">
        <div class="navbar-header">
          <a class="navbar-brand" href="./"><img src="{% static 'images/logo.png' %}" alt="Logo"></a>
          <a id="menuToggle" class="menutoggle"><i class="fa fa-bars"></i></a>
        </div>
      </div>
      <div class="top-right">
        <div class="header-menu">
          <div class="header-left">
            <div class="user-area dropdown float-right">
              <a href="#" class="dropdown-toggle active" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="user-avatar rounded-circle" src="{% static 'images/perfil.png' %}" alt="User Avatar">
              </a>

              <div class="user-menu dropdown-menu">
                <a class="nav-link" href="#"><i class="fa fa-user"></i>My Profile</a>

                <a class="nav-link" href="#"><i class="fa fa-cog"></i>Settings</a>

                <a class="nav-link" href="#"><i class="fa fa-power-off"></i>Logout</a>
              </div>
            </div>
          </div>
        </div>
    </header><!-- /header -->
    <!-- Header-->

    <div class="content">
      <div class="animated fadeIn">
        
        
        <div class="row">

          {% block content %}
          {% endblock %}

        </div>
      </div><!-- .animated -->
    </div><!-- .content -->
    <div class="clearfix"></div>

    <footer class="site-footer">
      <div class="footer-inner bg-white">
        <div class="row">
          <div class="col-sm-6">
            Sistema Bibliotecario, 2020
          </div>
          <div class="col-sm-6 text-right">
            Desarrollado por:
          </div>
        </div>
      </div>
    </footer>


  </div><!-- /#right-panel -->

  <!-- Right Panel -->

  <!-- Scripts -->
  <script src="{% static 'assets/js/dist_lib/jquery.min.js' %}"></script>
  <script src="{% static 'assets/js/dist_lib/popper.min.js' %}"></script>
  <script src="{% static 'assets/js/dist_lib/bootstrap.min.js' %}"></script>
  <script src="{% static 'assets/js/dist_lib/jquery.matchHeight.min.js' %}"></script>
  
  <script src="{% static 'assets/js/main.js' %}"></script>
  {% block js %}
  {% endblock %}

</body>
</html>
